{% extends 'layouts/index.html' %}
{% load static %}
{% block pageTitle %}Grafica general{% endblock pageTitle %}
{% block titleOnBlock %}Gráfica general{% endblock titleOnBlock %}
{% block customCSS %}{% endblock customCSS %}

{% block content %}
   <!-- Your HTML Code -->
    <div class="col-xl-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h6 class="font-weight-bold text-truncate">Grafica general</h6>
            </div>
            <div class="card-body">
                <div id="margin" class="chart-area">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

   <!-- Earnings (Monthly) Card Example -->
   
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Entrada</div>
                      <div id="entrada" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Annual) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Salida</div>
                      <div id="salida" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
   <!-- Earnings (Monthly) Card Example -->
   <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Mbps</div>
                      <div id="mbps" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Annual) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                       Ultimo registro</div>
                      <div id="date" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}

{% block customJS %}

<script>

   let ctx = document.getElementById('myChart').getContext('2d');
   let myChart = new Chart(ctx, {
       type: 'line',
       data: {
           labels: [],
           datasets: [{
               label: 'Mbps',
               data: [],
               backgroundColor: 'rgba(200, 20, 20, 0.2)',
               borderColor: 'rgba(200, 20, 20, 1)',
               borderWidth: 1
           }]
       },
       options: {
            responsive: true,
            maintainAspectRatio: false,
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });

   let mylet= setInterval(validator, 1000, myChart);

   function validator(chart){   
        port = {{ port }};

        fetch("http://148.204.142.162:"+port+"/database/grafica/?tipo=0").then(
            function(u){
                return u.json();
            }
        ).then(
            function(json){

                let randomNum = json.salida+json.entrada;
                let date =  json.createdAt;
                [yyyy,mm,dd,hh,mi,ss] = date.split(/[/:\.\-T]/)
                let hour = `${hh}:${mi}:${ss}`
                document.getElementById("entrada").innerHTML = ""+json.entrada.toFixed(3);
                document.getElementById("salida").innerHTML = ""+json.salida.toFixed(3);
                document.getElementById("mbps").innerHTML = ""+randomNum.toFixed(3);
                document.getElementById("date").innerHTML =`${dd}-${mm}-${yyyy} ${hh}:${mi}:${ss}`;
                if (chart.data.labels.length == 10){
                    updateData(myChart, hour, randomNum);
                }
                else{
                    addData(myChart, hour, randomNum);
                }
            }
        )
   }

   function updateData(chart, label, data) {
       chart.data.labels.shift();
       chart.data.labels.push(label);
       chart.data.datasets.forEach((dataset) => {
           dataset.data.shift();
           dataset.data.push(data);
       });
       chart.update();
   }

   function addData(chart, label, data) {
       chart.data.labels.push(label);
       chart.data.datasets.forEach((dataset) => {
           dataset.data.push(data);
       });
       chart.update();
   }

</script>
{% endblock customJS %}