{% extends 'layouts/index.html' %}
{% load static %}
{% block pageTitle %}Grafica de edificios{% endblock pageTitle %}
{% block titleOnBlock %}Gráfica de Edificios{% endblock titleOnBlock %}
{% block customCSS %}{% endblock customCSS %}

{% block content %}
   <!-- Your HTML Code -->
    <div class="col-xl-12 mb-5">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8"><h6 class="font-weight-bold text-truncate mb-1" id="TituloGrafica">Grafica de edificio</h6></div>
                    <div class="col-4 text-right">
                        <select class="focus mb-0" name="menu" onchange="toggle(this)">
                        <option disabled selected> Chose any </option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                      </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="margin" class="chart-area">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

   <!-- Earnings (Monthly) Card Example -->
   
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Entrada</div>
                      <div id="entrada" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Annual) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Salida</div>
                      <div id="salida" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
   <!-- Earnings (Monthly) Card Example -->
   <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                          Mbps</div>
                      <div id="mbps" class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Annual) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-polyred shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-polyred text-uppercase mb-1">
                       Ultimo registro</div>
                      <div id="date" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}

{% block customJS %}
<script>
    //obtencion de canvas donde se presentara la grafica
    var ctx = document.getElementById('myChart').getContext('2d');
    
    //creacion de grafica sin datos
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Mbps',
                data: [],
                backgroundColor: 'rgba(200, 20, 20, 0.2)',
                borderColor: 'rgba(200, 20, 20, 1)',
                borderWidth: 1
            }]
        },
        options: {
             responsive: true,
             maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    //variable global que simula el edificio
    var numEdificio;
    // intervalo de llamado del nuevo dato
    var myVar= setInterval(validator, 1000, myChart);

    //funcion toggle que setea el nuevo valor 
    function toggle(el){
        numEdificio = el.options[el.selectedIndex].value;
        document.getElementById("TituloGrafica").innerHTML = "Grafica de edificio "+numEdificio;// cambio de titulo
        deleteData(myChart);//simulación de cambio de grafica
    }
        
    function validator(chart){
        //si mi valor no esta definido por toggle, no hago nada
        if(!numEdificio) return 0;
        //llamada de valores aleatorios, aqui es donde se presentara la consulta a db
         let randomNum = Math.ceil(Math.random()*numEdificio)
         var date =  new Date();
         //formato de hora actual de Date
         let hour = date.toLocaleTimeString();

         //llenado de información sobre el ultimo punto de la grafica
         document.getElementById("entrada").innerHTML = ""+(randomNum * (3/5)).toFixed(3);
         document.getElementById("salida").innerHTML = ""+(randomNum * (2/5)).toFixed(3);
         document.getElementById("mbps").innerHTML = ""+randomNum;
         document.getElementById("date").innerHTML =hour;

         //dibujado del nuevo punto en la grafica
         if (chart.data.labels.length == 10){
             updateData(myChart, hour, randomNum);
         }
         else{
             addData(myChart, hour, randomNum);
         }
    }
 
    //Eliminación de datos de la grafica
    function deleteData(chart){
        chart.data.labels= [];
        chart.data.datasets.forEach((dataset) => {
            dataset.data = [];
        });
        chart.update();
    }
    
    //actualización de puntos en la grafica dezplansando perdiendo el primer registro
    function updateData(chart, label, data) {
        chart.data.labels.shift();
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.shift();
            dataset.data.push(data);
        });
        chart.update();
    }
    //agregado de punto a la grafica sin perdida de puntos
    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
    }
 
 </script>
{% endblock customJS %}