{% extends 'layouts/index.html' %}
{% load static %}
{% block pageTitle %}Listas de edificios{% endblock pageTitle %}
{% block titleOnBlock %}Listas de edificios{% endblock titleOnBlock %}

{% block customCSS %}
<link href="{% static 'vendor/dataTables/datatables.min.css' %}">
<style>
    .table .table-bordered{
        color: #000 ;
    }

    .page-item.active .page-link {
        background-color: black !important;
        color: white !important; 
        border: 1px solid black;
    }
    .page-link {
        color: black !important;
    }
</style>
{% endblock customCSS %}

{% block content %}
<div class="row row-primary">
<div class="col-xl-12 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-8"><h6 class="font-weight-bold text-truncate mb-1" id="TituloGrafica">Listas de edificios</h6></div>
                <div class="col-4 text-right">
                    <select class="focus mb-0" name="menu" onchange="toggle(this)">
                    <option disabled selected> Seleccionar edificio  </option>
                    {% for ed in edificios %}
                    <option value= "{{ed.ip}}"> {{ed.nombre}} </option>
                    {% endfor %}
                  </select>
                </div>
            </div>
        </div>
        <div class="card-body margin">                                         
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>id Puerto</th>
                            <th>Subida</th>
                            <th>Bajada</th>
                            <th>Mbps</th>
                            <th>Acciones</th>
                            <th>Seguimiento</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Estado</th>
                            <th>id Puerto</th>
                            <th>Subida</th>
                            <th>Bajada</th>
                            <th>Mbps</th>
                            <th>Acciones</th>
                            <th>Seguimiento</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block customJS %}
<script src="{% static 'vendor/dataTables/datatables.min.js' %}"></script>
<script>
    //letiable global que simula el edificio, seleccion de sig edificio y lista de nodos inicial en tabla
    let IpEdificio;
    let IpEdificiovalidator;
    let SummaryNodes = [];

    //letiables para crear variable data, referente al body de consulta post o put, lista de OIDS y consulta previos
    let data = {};
    let OIDsData = [];
    let Previos = 'None';

    //letiable putNodes que es la informacion necesaria para cambio de nodos
    let putNodes = [];

    // intervalo de llamado del nuevo dato
    let Mylet= setInterval(validator, 5000);

    //variable de total de elementos en tabla
    let limit= 0;

    //funcion toggle que setea el nuevo valor de ip y dibuja su tabla de nodos 
    async function toggle(el){
        
        IpEdificio = el.options[el.selectedIndex].value;
        document.getElementById("TituloGrafica").innerHTML = "Lista de nodos de "+el.options[el.selectedIndex].text;// cambio de titulo
        port = {{ port }}
        //validador si la ip consulta a API y de busqueda por el usuario sean iguales
        IpEdificiovalidator = IpEdificio;
        //Consulta api de lista de nodos por edificio
        const response = await fetch("http://148.204.142.162:"+port+"/database/lista/nodos/?ip="+IpEdificio);
        console.log("http://148.204.142.162:"+port+"/database/lista/nodos/?ip="+IpEdificio)
        //respuesta json
        const json = await response.json();

        //en caso de error, no hacer una doble consulta
        if (IpEdificio !=IpEdificiovalidator) return 0;
        if (json){
            //limpieza de nodos y variables post
            SummaryNodes = [];
            OIDsData = [];
            Previos = 'None';
            putNodes = []
            //llenado de nodos
            let i = 0;
            json.nodos.filter(node => node.identificadorCable != "ACCES POINT").forEach(nodo=> {
                let SummaryNode;
                if (nodo.activoAdministrativo == null) {
                    SummaryNode = ["activo", nodo.idPuerto, 0,0,0, '<input class="checkToggle" type="checkbox" value="'+i+'" name="toPut[]">', '<button class="btn btn-dark">Graficar</button>' ];
                    //console.log(SummaryNode);
                }else{
                    if (nodo.activoAdministrativo){
                        SummaryNode = ["activo", nodo.idPuerto, 0,0,0, '<input class="checkToggle" type="checkbox" value="'+i+'" name="toPut[]">', "<a href='http://148.204.142.162:{{port}}/grafica/nodo/"+nodo._id+"' class='btn btn-dark'>Graficar</a>" ];
                    }else{
                        SummaryNode = ["desactivo", nodo.idPuerto, 0,0,0, '<input class="checkToggle" type="checkbox" value="'+i+'" name="toPut[]">',  "<a href='http://148.204.142.162:{{port}}/grafica/nodo/"+nodo._id+"' class='btn btn-dark'>Graficar</a>" ];
                    }
                    //console.log("check this out: "+ SummaryNode);
                }
                SummaryNodes.push(SummaryNode);
                i++;
                let putAux = [nodo.activoAdministrativo, nodo._id, nodo.idPuerto]
                putNodes.push(putAux);
                OIDsData.push(nodo.oid);
            }); 
            //despues obtener todos los datos necesarios, genero mi letiable data para empezar busquedas post
            data = {
                "ip" : IpEdificio, //ip del edificio
                "oids" : OIDsData, //OIDs a consultar
                "previos" : Previos // entrada y salida previa en null dado a que empezamos a consultar
            };
            limit = OIDsData.length;
            //se limpia la tabla para no acumular, ni duplicar datos
            $('#dataTable').DataTable().clear();
            //se llena la tabla vacia con el nuevo arreglo de datos
            $('#dataTable').DataTable().rows.add(SummaryNodes).draw();
            console.log("Done");
            
        }
    }

    async function validator(){
        if (IpEdificio == null) return 0;
        if (IpEdificio != IpEdificiovalidator) return 0;
        //Consulta api de lista de nodos por edificio
        const response = await fetch(
            "http://148.204.142.162:"+port+"/gestor/nodos/lista/",
            {
                method: 'POST',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            }
        );
        //respuesta json
        const json = await response.json();
        if(json){
            console.log(json)
            Previos = JSON.stringify({ entrada: json.octetos_entrada, salida :  json.octetos_salida})
            data = {
                "ip" : IpEdificio, //ip del edificio
                "oids" : OIDsData, //OIDs a consultar
                "previos" : Previos
            };
            
            let table = $('#dataTable').DataTable();
            
            for(let i =0; i<limit; i++){
                subida = json.consumo_entrada[i];
                bajada = json.consumo_salida[i];
                table.cell({row: i, column: 2}).data(subida);
                table.cell({row: i, column: 3}).data(bajada);
                table.cell({row: i, column: 4}).data(subida+bajada);
            }

        }
        else{
            console.log("...");
        }
    }

     //apartado de iniciacion de tabla
    
     var wop = $('#dataTable').DataTable({
        dom: "<'row'<'col-3'fi><'col-6 text-center'B><'col-3 text-center'p> >" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-3'i><'col-6 text-center'B><'col-3 text-center'p> >",
        data: [],
        buttons: [
            {
                text: "Toggle", className:"btn-dark",
                action: async function (){
                    console.log("Deteniendo intervalo");
                    clearInterval(Mylet);
                    //instancia de tabla
                    let table = $('#dataTable').DataTable();
                    //encuentra todos los checkbox selecionados
                    var selected = table.rows( function ( idx, data,node) {
                        return $(node).find('input[type="checkbox"][class="checkToggle"]').prop('checked');
                    } ).indexes().toArray();

                    console.log("obtencion de recursos para metodo Put");

                    // creo un arreglo de nodos segun se solicitan en metodo put
                    let nodos=[];
                    selected.forEach( d => {
                        let aux;
                        if (putNodes[d][0]==null){
                            aux = {
                                "activoAdministrativo" : true,
                                "_id" : putNodes[d][1],
                                "idPuerto" : putNodes[d][2]
                            }
                        }else{
                            aux = {
                                "activoAdministrativo" : putNodes[d][0],
                                "_id" : putNodes[d][1],
                                "idPuerto" : putNodes[d][2]
                            }
                        }
                        nodos.push(aux);
                    })


                   // creo el body
                    data = {
                        "ip" : IpEdificio,
                        "nodos" : nodos
                    }

                    console.log("debug 3");
                    // consulta put
                    const response = await fetch(
                        "http://148.204.142.162:"+port+"/gestor/nodos/toggle/",
                        {
                            method: 'PUT',
                            headers: {
                                Accept: 'application/json',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data)
                        }
                    );

                    //respuesta put, aqui se muere basicamente
                    const res = await response.json();
                    console.log(res)
                    if(res.code === 200) {
                        selected.forEach( d => {
                            console.log(d)
                            if (table.cell({row: d, column: 0}).data() == "activo"){
                                table.cell({row: d, column: 0}).data("desactivo");
                            }else{
                                table.cell({row: d, column: 0}).data("activo");
                            }
                        })
                    }
                    alert("respuesta : "+res.code+ " : "+res.message);
                    Previos = 'None';
                    data = {
                        "ip" : IpEdificio, //ip del edificio
                        "oids" : OIDsData, //OIDs a consultar
                        "previos" : Previos // entrada y salida previa en null dado a que empezamos a consultar
                    };
                    //reactivando intervalo
                    Mylet = setInterval(validator, 5000);

                }
            }, 

            {
                text: "Check all", className:"btn-dark",
                action: function (){
                    let table = $('#dataTable').DataTable();
                    table.cells(null, 5).every( function () {
                        var cell = this.node();
                        $(cell).find('input[type="checkbox"][class="checkToggle"]').prop('checked', true); 
                    });
                }
            },
            {
                text: "Uncheck all", className:"btn-dark",
                action: function (){
                    let table = $('#dataTable').DataTable();
                    table.cells(null, 5).every( function () {
                        var cell = this.node();
                        $(cell).find('input[type="checkbox"][class="checkToggle"]').prop('checked', false); 
                    });
                }
            },
        ],
    });

</script>
{% endblock customJS %}